/*  ================================
        global area start
    ================================ */

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Comfortaa', cursive;
    color: #1a1a1a;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;

}

.main-div {
    overflow: hidden;
}

img {
    max-width: 100%;
}

/*  ================================
        global area end
    ================================ */

/*  ================================
        header area start
    ================================ */

.header-top {
    overflow: hidden;
    background-color: #F3F3F3;
}

.wel-come p {
    color: #535659;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

.wel-come {
    padding: 5px 0;
}

.logo img {
    width: 300px;
    margin: 30px 0;
}

#menu-switcher,
.navbar-header > label,
.switch {
    display: none;
}

.menu-container label::before {
    border-bottom: 2px solid #fff;
    box-shadow: 0 5px 0 0 #fff, 0 0 0 0 inset, 0 -5px 0 0 #fff;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.switch {
    width: 100%;
    float: left;
    height: auto;
    min-height: 45px;
    position: relative;
}

.menu-container label {
    background: #71B84C;
    cursor: pointer;
    display: none;
    height: 35px;
    padding: 0;
    position: absolute !important;
    right: 0;
    top: 4px;
    width: 40px;
    z-index: 9999;
    border: 1px solid #71B84C;
}

#navbar ul {
    margin: 28px 0 0;
}

#navbar ul li {
    display: inline-block;
    list-style: outside none none;
}

#navbar ul li a {
    font-size: 24px;
    color: #1a1a1a;
    line-height: 25px;
    display: inline-block;
    padding: 15px 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.5s;
    border-radius: 5px;
    position: relative;
}


#navbar ul li a::before {
    left: 50%;
    bottom: 0;
    right: 50%;
    position: absolute;
    content: '';
    height: 5px;
    background: #71B84C;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navbar ul li a:hover::before {
    left: 0;
    right: 0;
}

#navbar ul li a:hover {
    color: #71B84C;
}

/*  ================================
        header area end
    ================================ */

/*  ================================
        product area start
    ================================ */

.product-wraper {
    overflow: hidden;
    padding: 40px 0 0;
}

.price {
    color: #71B84C;
    font-size: 35px;
    font-weight: 600;
}

.dec-title {
    margin: 30px 0 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-dec h3 {
    color: var(--me-darkgray);
    font-size: 30px;
    margin: 30px 0 40px;
    font-weight: 900;
}

.product-dec h3:first-child {
    margin-top: 0;
}

.product-dec h4 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: capitalize;
}

.product-dec ul {
    margin-bottom: 30px;
}

.product-dec ul,
.tab-list ul {
    margin: 0 0 10px;
}

.product-dec ul li,
.tab-list ul li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
}

.product-dec ul li::before,
.tab-list ul li::before {
    position: absolute;
    content: "\f046";
    font-family: fontawesome;
    left: 0;
    color: #57BB72;
}

.tl {
    text-align: left !important;
}

/*  ================================
        product area end
    ================================ */

/*  ================================
        tab area start
    ================================ */

.tab-part-area {
    padding: 80px 0;
    margin: 30px 0 100px;
    background-color: #F3F3F3;
}

section.tab-section {
    display: none;
    color: #1a1a1a;
    overflow: hidden;
    margin-top: 15px;
}

.tab-part-area input {
    display: none;
}

.tab-part-area label {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid transparent;
    display: inline-block;
    margin-right: 20px;
    padding: 20px 40px;
    text-align: center;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

.tab-part-area label:hover {
    cursor: pointer;
    color: #fff;
    border-color: #444444;
    background-color: #444444;
}

.tab-part-area input:checked + label {
    color: #fff;
    border-color: #444444;
    background-color: #444444;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

table,
tr,
th,
td {
    border: 1px solid #DADADA !important;
    padding: 10px !important;
}

/*  ================================
        tab area end
    ================================ */

/*  ================================
        footer area start
    ================================ */
.cat {
    padding: 1em 0;
    background-color: #71B84C;
    text-align: center;
}

.cat img {
    width: 60px;
    opacity: 0.3;
}

.cat a:hover > img {
    opacity: 1;
}

.footer-top {
    padding: 35px 0;
}

.footer-logo {
    margin: 70px 0 0;
    background-color: #fff;
    padding: 30px;
}

.footer-widget h2 {
    padding: 0 0 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    color: #71B84C;
}

.footer-widget p {
    margin: 0 0 20px;
    line-height: 18px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget ul li {
    list-style: none;
    text-transform: capitalize;
    font-size: 16px;
}

.footer-widget ul li a,
.sidebar-box ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
    color: #000;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
}

.footer-widget ul li a:hover {
    text-decoration: none;
    color: #000 !important;
}

.sub-btn {
    border: 1px solid #71B84C;
    background: #71B84C;
    color: #fff;
    text-transform: uppercase !important;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
}

.sub-btn:focus,
.sub-btn:hover {
    color: #fff;
}

.main-footer {
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.copy-right p a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
}

.copy-right p {
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

/*  ================================
        footer area end
    ================================ */
.csslider {
    position: relative;
}

.csslider > input {
    display: none;
}

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0;
}

.csslider > ul {
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.csslider > ul > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    height: 100%;
    line-height: normal;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1) 0s;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    text-align: center;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

.csslider > .navigation {
    padding: 15px;
}

.csslider > .navigation label {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    position: relative;
    width: 120px;
    height: 112px;
    vertical-align: middle;
    background-color: #fff;
    position: relative;
}

.csslider > .navigation label img {
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.csslider > .navigation label:hover::after {
    opacity: 1;
}

.csslider > .navigation label::after {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    top: 50%;
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1)::after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2)::after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3)::after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4)::after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5)::after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6)::after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7)::after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8)::after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9)::after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10)::after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11)::after {
    opacity: 1;
}

.csslider ul li img {
    height: 500px;
    width: auto;
    max-height: 100%;
}

.navigation > label {
    border-radius: 5px !important;
    margin-bottom: 5px;
}

/***** medium Layout *****/

@media (min-width: 992px) and (max-width: 1200px) {}

/***** Tablet Layout *****/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-right {
        font-size: 13px;
    }

    .tab-part-area label {
        padding: 10px 5px;
    }

    .product-dec {
        margin-top: 30px;
    }
    .footer-widget{
        margin-bottom: 30px;
    }

}

/***** Mobile Layout *****/

@media only screen and (max-width: 767px) {

    .wel-come h4,
    .menu-top li a {
        font-size: 16px;
    }
    .csslider > .navigation{
        padding: 0;
    }
    .csslider > .navigation label{
        width: 50px;
        height: 50px;
    }
    /* menu start */
    .navbar-header > label,
    .switch,
    .menu-container label {
        display: block;
        top: -9px;
    }

    #navbar {
        display: none;
    }

    #menu-switcher:checked + #navbar {
        display: block;
        padding-bottom: 15px;
    }

    #navbar ul {
        width: 100% !important;
        margin: 0;
    }

    #navbar ul li {
        width: 100%;
        float: left;
        margin: 0 !important;
        text-align: left;
    }

    #navbar ul li a {
        color: #fff;
        display: block;
    }

    #navbar {
        width: 100%;
        float: left;
        height: auto;
        position: absolute;
        top: 70px;
        z-index: 999;
        left: 0;
        background-color:  #000;
    }

    /* menu end */
    .product-dec {
        margin-top: 30px;
    }

    .header-top {
        padding: 20px 0;
    }

    .support-box {
        display: none;
    }

    .footer-widget.footer-img {
        margin: 0 0 50px !important;
    }

    .support h2 {
        font-size: 18px;
    }

    #navbar ul {
        text-align: center;
        margin: 20px 0 10px;
    }

    #navbar ul li a {
        margin: 0 5px;
        font-size: 15px;
    }

    .wel-come,
    .menu-top {
        padding: 0;
        text-align: center;
    }

    .logo {
        text-align: center;
    }

    .pro-title {
        padding: 15px 10px;
        text-align: center;
        margin: 0;
    }

    .csslider ul li img {
        width: 100%;
        height: auto;
    }

    .product-dec h2,
    .pro-title h3,
    .product-dec h3,
    .product-dec h4,
    .single-care h3 {
        font-size: 16px;
    }

    .tab-area label {
        width: 100%;
    }

    section.tab-section {
        padding: 30px 10px;
    }

    .footer-img {
        padding: 0;
    }

    .footer-left {
        margin: 20px 0;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .footer-logo {
        margin-top: 0;
        text-align: center;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-top {
        padding: 35px 0 0;
    }
}

/***** Wide Mobile Layout *****/

@media only screen and (min-width: 480px) and (max-width: 767px) {}
